.app {
    background: #209cee;
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    width: 100vmin;
    padding: 5px;
}

.todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 16px;
    font-family: 'Times New Roman';
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
}

button {
    margin: 0.3rem;
    background-color: rgb(58, 153, 121);
    color: white;
    cursor: pointer;
    outline: none;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}
